{% extends 'master.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}

    <div class="container">
        <h1>Sign Up</h1>
		 <label id="Errordisplay" class="Error"> </label>
            {% include "Alerts.html" %}
        <form id="register" method="POST" onsubmit="return register(this);"  >
            <label for="first_name">Name:</label>
            <input type="text" id="username" name="username"  placeholder="Username" value="" />

            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email"  placeholder="E-mail" value="" />

            <label for="password">Password:</label>
            <input id="password" type="password" placeholder="password" name="password" oninput="passValidation(this)"  value="" />

            <label for="confirm_password">Confirm Password:</label>
            <input id="passwordMatch" type="password" placeholder="re-password" oninput="passMatch(this)"  class="text-input" value="" />

            <input type="submit" id="submit"  value="Register" />
        </form>
        <p>Already have an account? <a href="/Auth/Login">Sign In</a></p>
    </div>


{% endblock %}